@model IEnumerable<FAQ>

@{
    ViewBag.Title = "FAQs";
}

<div class="row">
    <div class="col offset-3">
        @* topics navbar *@
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand ps-3" asp-action="Index" asp-route-topic=""
               asp-route-category="">All FAQs</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav me-auto">
                    @foreach (Topic t in ViewBag.Topics)
                    {
                        <a asp-action="Index" class="nav-item nav-link"
                       asp-route-topic="@t.TopicId">@t.Name</a>
                    }
                </div>
            </nav>
        </nav>

    </div>
</div>

<div class="row">
    <div class="col-3">
        @* categories sidebar *@
        <ul class="list-group mb-3">
            @foreach (Category c in ViewBag.Categories)
            {
                <li class="list-group-item">
                    <a asp-action="Index"
                   asp-route-topic="@ViewBag.SelectedTopic"
                   asp-route-category="@c.CategoryId">@c.Name</a>
                </li>
            }
        </ul>
    </div>
    <div class="col">
        @* FAQ list *@
        <ul class="list-group">
            @foreach (FAQ faq in Model)
            {
                <li class="list-group-item">
                    <div class="row pb-3">
                        <div class="col">
                            <b class="me-2">@faq.Question</b>@faq.Answer
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">Topic: @faq.Topic.Name</div>
                        <div class="col">Category: @faq.Category.Name</div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
 